<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/skillifyapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkillifyApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.UploadFirstDataActivity"
            android:exported="false"
            android:theme="@style/Theme.FirstActivity" />
        <activity
            android:name=".ui.splash.UploadPhotoActivity"
            android:exported="false"
            android:theme="@style/Theme.FirstActivity" />
        <activity
            android:name=".ui.profile.DetailUserActivity"
            android:exported="false"
            android:theme="@style/Theme.FirstActivity" />
        <activity
            android:name=".ui.home.MainHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.job.PostJobActivity"
            android:exported="false"
            android:theme="@style/Theme.FirstActivity" />
        <activity
            android:name=".ui.job.DetailJobActivity"
            android:exported="false"
            android:theme="@style/Theme.FirstActivity" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.FirstActivity" />
        <activity
            android:name=".ui.profile.DetailProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.FirstActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.splash.FirstPageActivity"
            android:exported="false"
            android:theme="@style/Theme.FirstActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rohim.skillifyapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

</manifest>